@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.portfolio {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1720px;
    height: 800px;
    text-align: center;
    animation: transitionIn 0.75s;
  }
  
 
  
  .item a {
    transition: all 1s ease;
    text-align: center;
    transform: scale(1.3);
  }
  
  .item:hover a {
    transform: scale(1.4);
    filter: brightness(70%);
  }
  .item:hover .image-text {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  
  /* Filter styles */
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  body {
    background-color: black;
  }
  .ph {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 25px;



  }
  @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');

body {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;


  }
  
nav {
    margin-top: 35px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    padding: 0px 70px;
  }
  
  .logo img {
    max-height: 50px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
   
    padding: 10px 20px;
  }
  
  .nav-links li a:hover {
    color: #FEFF90;
    transition: 0.5s ease;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  }
  .landscape {
    display: inline-block;
    width: 30%;
    height: auto;
    
  }
  
  .landscape::after {
    content: "";
    display: table;
    clear: both;
  }
  .gallery {
    margin-left: 60px;
  }
  
  .rl {
    padding: 0 10px;
  }
  .image-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    
  }
  .image-text h3 {
    font-size: 24px;
  }
  .landscape {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #fff;
    opacity: 0.5;
    transition: all 0.5s;
  }

  @keyframes transitionIn {
    from {
      opacity : 0;
      transform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }